.main {
    margin-top: 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 65vh;
}