.input {
  margin-top: 5px;
  display: flex;
  width: 90%;
}

.item {
  background: var(--white-color);
  margin: 8px 0px;
  padding: 12px;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  border-radius: 10px;
  text-align: left;
}

.list {
  width: 70%;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 5px 10px 5px 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-y: auto;
  max-height: 70vh;
  min-height: 7vh;
  scroll-behavior: smooth;
}

.msg-form {
  padding-top: 1%;
  margin-bottom: 10px;
  width: 70%;
}